.menu {
  background-color: #0a2750;
  background-image: url(../images/background_menu.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #fff;
}
.menu__title {
  margin: 0 auto 24px;
  padding-top: 100px;
  max-width: 780px;
  text-align: center;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}
.menu__subtitle {
  max-width: 780px;
  margin: 0 auto;
  text-align: center;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
}

.menu__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 100px 0px 100px;
  margin: 0 auto;
  gap: 100px 100px;
}

